<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header-hook">
        <!-- 顶部导航 -->
        <div class="site-nav">
            <div class="container clearfix">
                <div class="nav-left">
                    好的生活，没那么贵
                </div>
                <div class="nav-right">
                    <a href="" class="login">登录</a>
                    <a href="" class="reg">注册</a>
                    <a href="" class="left-split">严选态度</a>
                    <a href="" class="left-split">企业采购</a>
                    <div class="left-split has-em service-hook">
                        客户服务
                        <em class="bg-arrow arrow"></em>
                        <div class="xs-dropdown z100">
                            <nav class="dropdownmenu">
                                <a href="" class="item">帮助中心</a>
                                <a href="" class="item">在线客服</a>
                                <a href="" class="item">电话客服</a>
                                <a href="" class="item">商务合作</a>
                            </nav>
                        </div>
                    </div>
                    <div class="left-split download has-em phone-hook">
                        <em class="bg-phone phone"></em>
                        下载APP
                        <div class="xs-dropdown z100">
                            <div class="dropdownmenu">
                                <img src="/img/appdown.png" class="img" alt="" width="117" height="117">
                                <p class="desc">下载领1000元新人礼包</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- logo tab区域 -->
        <div class="hd-tabwrap hd-tabwrap-hook z5">
            <div class="container">
                <div class="clearfix logowrap">
                    <a href="" class="hd-logo"></a>
                    <div class="right-main">
                        <div class="search-con clearfix">
                            <div class="search-input-wrap z50">
                                <input type="text" class="search-input hd-input-hook" maxlength="100" autocomplete="off" placeholder="
    Crocs制造商新款拖鞋券后9块9">
                                <div class="search-hotkey">
                                    <ul class="hotkey-list">
                                        <li class="hotkey-item hotkey-hook" v-for="item in searchHotKeyList">{{item.text}}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="search-bar">
                                <em class="bar"></em>
                            </div>

                            <div class="shop-cart-wrap">
                                <a href="" class="link">
                                    <em class="bg-shop-cart shop-cart"></em>
                                    <em class="bg-badge badge">0</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="bg-logo hd-fiexd-logo"></a>

                <!-- nav -->
                <div class="hd-tab-nav hd-tab-hook">
                    <ul class="nav-list clearfix">
                        <li class="topLevel-nav-item item-hook" v-for="item in tabNav">
                            <a :href="item.textLink" class="topLevel">{{item.text}}</a>
                            <div class="nav-dropdown z10" v-if="item.childNavList">
                                <div class="full-screen full-screen-hook">
                                    <ul class="son-nav-list clearfix">
                                        <li class="son-nav-item" v-for="sonNav in item.childNavList">
                                            <a :href="sonNav.Link" class="son-nav-link">
                                                <img :src="sonNav.picUrl" alt="">
                                                <p class="text">{{sonNav.text}}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="fixed-right">
                        <ul class="nav-fixed-r-list clearfix">
                            <li class="nav-fixed-r-item"><a href=""  class="link">登录</a></li>
                            <li class="nav-fixed-r-item"><a href="" class="link">注册</a></li>
                            <li class="nav-fixed-r-item">
                                <div class="shop-cart-wrap">
                                    <a href="" class="link">
                                        <em class="bg-shop-cart shop-cart"></em>
                                        <em class="bg-badge badge">0</em>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <div class="pd-detail-bd body-hook">
        <div class="container">
            <!-- 面包屑导航 -->
            <div class="c-crumbs">
                <a href="" class="link">首页</a>
                <a href="" class="link">居家</a>
                <a href="" class="link">夏凉</a>
                <span class="current">全棉针织纯色四件套</span>
            </div>

            <!-- 商品详情顶部内容 -->
            <div class="pd-bd-top clearfix">
                <div class="pd-slide clearfix">
                    <dvi class="pd-view">
                        <img :src="goods.viewPicUrl" class="pd-view-img" alt="">
                    </dvi>
                    <ul class="pd-list">
                        <li class="pd-item"
                            v-for="item in goods.sthumbs"
                        >
                            <img :src="item.img" alt="" class="pd-item-img">
                        </li>
                    </ul>
                </div>

                <div class="pd-info">
                    <div class="pd-intro clearfix">
                        <div class="pd-namewrap">
                        <div class="pd-name">{{goods.name}}</div>
                        <a class="pd-tag"
                           :href="tag.href"
                           v-if="goods.tagList"
                           v-for="tag in goods.tagList"
                        >{{tag.name}}</a>
                        </div>
                        <div class="pd-desc">{{goods.desc}}</div>
                    </div>

                    <!-- 价格 促销 服务 -->
                    <div class="pd-price-sale-service">
                        <div class="field pd-price clearfix">
                            <span class="title">售价</span>
                            <span class="pd-price-main">
                            {{goods.retailPrice | rmb}}
                            </span>
                        </div>
                        <div class="field pd-sale clearfix">
                            <span class="title">促销</span>
                            <a class="line-overflow pd-sale-name"
                               v-for="sale in goods.saleList"
                               :href="sale.href"
                            >
                                {{sale.desc}}
                            </a>
                        </div>
                        <div class="field pd-service clearfix">
                            <span class="title">服务</span>
                            <div class="pd-service-main line-overflow">
                                <span class="pd-service-name"
                                    v-for="service in goods.service"
                                >{{service.desc}}</span>
                            </div>
                        </div>

                        <div class="pd-ratings">
                            <span class="pd-count">{{goods.commitNum | wan}}</span>
                            <span class="pd-text">用户评价</span>
                        </div>
                    </div>
                        <div class="field pd-color clearfix">
                            <span class="title">颜色</span>
                            <div class="pd-color-list clearfix">
                                <a href="javascript:;" class="pd-color-item"
                                   v-for="color in goods.choseColor"
                                   :title="color.title"
                                >
                                    <img :src="color.img" alt="" class="pd-color-img">
                                </a>
                            </div>
                        </div>
                        <div class="field pd-size clearfix">
                            <span class="title">尺寸</span>
                            <div class="pd-size-list clearfix">
                                <a href="javascript:;" class="pd-size-item"
                                   v-for="size in goods.size"
                                >
                                    {{size.name}}
                                </a>
                            </div>
                        </div>
                        <div class="field pd-count clearfix">
                            <span class="title">数量</span>
                            <div class="cartcontroll clearfix">
                                <span class="btn"></span>
                                <input type="text" class="count" value="1">
                                <span class="btn"></span>
                            </div>
                        </div>

                        <div class="pd-controll clearfix">
                            <span class="buy">立即购买</span>
                            <span class="addcart">加入购物车</span>
                            <span class="store">收藏</span>
                        </div>

                </div>
            </div>

            <!-- 大家都在看 -->
            <div class="c-row-carousel pd-carousel">
                <div class="c-title">大家都在看</div>
                <div class="c-main">
                    <div class="c-picwrap">
                        <ul class="c-list clearfix">
                            <li class="c-item"
                                v-for="item in sameList"
                            >
                                <div class="c-item-imgwrap">
                                    <span class="c-item-color"
                                          v-if="item.color"
                                    >{{item.color}}</span>
                                    <a :href="item.link" class="c-link">
                                        <img :src="item.picUrl" class="imgScale" alt="">
                                    </a>
                                </div>
                                <h3 class="c-name">
                                    <a :href="item.link" class="c-link">{{item.name}}</a>
                                </h3>
                                <div class="c-price">{{item.price | rmb('￥')}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="c-arrowwrap">
                        <button class="bg-normal c-arrow prev"></button>
                        <button class="bg-normal c-arrow next"></button>
                    </div>
                </div>
            </div>


            <div class="pd-bd clearfix">
                <!-- 详情和评价 -->
                <div class="pd-bd-left"></div>

                <!-- 右侧热销 专题 -->
                <div class="pd-bd-right">

                    <!-- 热销 -->
                    <div class="pd-bd-r-hotsale c-col-hotsale">
                        <div class="c-c-title">24小时热销榜</div>
                        <ul class="c-picwrap-list">
                            <li class="c-picwrap-item"
                                v-for="item in hotSale"
                            >
                                <a :href="item.link" class="c-link">
                                    <div class="c-item-imgwrap">
                                        <span class="c-item-color"
                                              v-if="item.color"
                                        >{{item.color}}</span>

                                            <img :src="item.picUrl" class="imgScale img" alt="">

                                    </div>
                                    <h3 class="c-name line-overflow">
                                        {{item.name}}
                                    </h3>
                                    <div class="c-price">{{item.price | rmb('￥')}}</div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- 专题推荐 -->
                    <div class="pd-bd-r-recommend c-col-hotsale">
                        <div class="c-c-title">专题推荐</div>
                        <ul class="c-picwrap-list">
                            <li class="c-picwrap-item"
                                v-for="item in topicsRecommended"
                            >
                                <a :href="item.link" class="c-link">
                                        <img :src="item.picUrl" alt="" class="img">
                                    <p class="name">{{item.name}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer no-border footer-hook">
        <div class="container">
            <div class="contact-bd">
                <div class="contact-item item-service">
                    <h4 class="hd">客服电话</h4>
                    <p class="phone">400-0368-163</p>
                    <p class="datetime">9:00-22:00</p>
                    <a href="" class="feedback">用户反馈</a>
                    <a href="" class="kefu">在线客服</a>
                </div>
                <div class="contact-item aboutus">
                    <h4 class="hd">何为严选</h4>
                    <p class="desc">网易原创生活类电商品牌，秉承网易一贯的严谨态度，我们深入世界各地，从源头全程严格把控商品生产环节，力求帮消费者甄选到优质的商品</p>
                    <div class="view">
                        <span class="text">关注我们:</span>
                        <span class="bg-normal yx"></span>
                        <span class="bg-normal wx"></span>
                        <span class="bg-normal wb"></span>
                    </div>
                </div>
                <div class="contact-item">
                    <h4 class="hd">扫码下载严选</h4>
                    <img src="/img/appdown.png" class="img" width="104" height="104" alt="" class="downewm">
                    <p class="downdesc">下载领1000元新人礼包</p>
                </div>
            </div>
        </div>
        <div class="footer-floor2">
            <div class="container">
                <div class="f2-main">
                    <ul class="ensure-list clearfix">
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">30天无忧退货</p>
                            </div>
                        </li>
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">满88元免邮费</p>
                            </div>
                        </li>
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">网易品质保证</p>
                            </div>
                        </li>
                    </ul>
                    <div class="f2-siteinfo">
                        <ul class="siteinfo-list">
                            <li class="siteinfo-item"
                                v-for="item in footerList"
                            >
                                <a :href="item.link" class="link">{{item.text}}</a>
                            </li>
                        </ul>
                        <p class="copyright">
                            网易公司版权所有 © 1997-2017   食品经营许可证：JY13301080111719
                        </p>
                        <a href="" class="credible">
                            <img src="/img/credible.gif" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="fixedtool">
        <a href="" class="link">
            <em class="fixedtool-newuser"></em>
            <p class="text">新人有礼</p>
        </a>
        <a href="" class="link">
            <em class="bg-phone fixedtool-downapp"></em>
            <p class="text">下载APP</p>
        </a>
        <a href="" class="link">
            <em class="fixedtool-onlinechat"></em>
            <p class="text">在线客服</p>
        </a>
        <a href="" class="link">
            <em class="bg-arrow arrow-up"></em>
            <p class="text">回顶部</p>
        </a>
    </div>

    <script src="../js/commonGetData.js"></script>
    <script src="../js/detailGetData.js"></script>
    <script src="../js/show.js"></script>
</body>
</html>