<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header-hook">
        <!-- 顶部导航 -->
        <div class="site-nav">
            <div class="container clearfix">
                <div class="nav-left">
                    好的生活，没那么贵
                </div>
                <div class="nav-right">
                    <a href="" class="login">登录</a>
                    <a href="" class="reg">注册</a>
                    <a href="" class="left-split">严选态度</a>
                    <a href="" class="left-split">企业采购</a>
                    <div class="left-split has-em service-hook">
                        客户服务
                        <em class="bg-arrow arrow"></em>
                        <div class="xs-dropdown z100">
                            <nav class="dropdownmenu">
                                <a href="" class="item">帮助中心</a>
                                <a href="" class="item">在线客服</a>
                                <a href="" class="item">电话客服</a>
                                <a href="" class="item">商务合作</a>
                            </nav>
                        </div>
                    </div>
                    <div class="left-split download has-em phone-hook">
                        <em class="bg-phone phone"></em>
                        下载APP
                        <div class="xs-dropdown z100">
                            <div class="dropdownmenu">
                                <img src="/img/appdown.png" class="img" alt="" width="117" height="117">
                                <p class="desc">下载领1000元新人礼包</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- logo tab区域 -->
        <div class="hd-tabwrap hd-tabwrap-hook">
            <div class="container">
                <div class="clearfix logowrap">
                    <a href="" class="hd-logo"></a>
                    <div class="right-main">
                        <div class="search-con clearfix">
                            <div class="search-input-wrap z50">
                                <input type="text" class="search-input hd-input-hook" maxlength="100" autocomplete="off" placeholder="
    Crocs制造商新款拖鞋券后9块9">
                                <div class="search-hotkey">
                                    <ul class="hotkey-list">
                                        <li class="hotkey-item hotkey-hook" v-for="item in searchHotKeyList">{{item.text}}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="search-bar">
                                <em class="bar"></em>
                            </div>

                            <div class="shop-cart-wrap">
                                <a href="" class="link">
                                    <em class="bg-shop-cart shop-cart"></em>
                                    <em class="bg-badge badge">0</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="bg-logo hd-fiexd-logo"></a>

                <!-- nav -->
                <div class="hd-tab-nav hd-tab-hook">
                    <ul class="nav-list clearfix">
                        <li class="topLevel-nav-item item-hook" v-for="item in tabNav">
                            <a :href="item.textLink" class="topLevel">{{item.text}}</a>
                            <div class="nav-dropdown z10" v-if="item.childNavList">
                                <div class="full-screen full-screen-hook">
                                    <ul class="son-nav-list clearfix">
                                        <li class="son-nav-item" v-for="sonNav in item.childNavList">
                                            <a :href="sonNav.Link" class="son-nav-link">
                                                <img :src="sonNav.picUrl" alt="">
                                                <p class="text">{{sonNav.text}}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="fixed-right">
                        <ul class="nav-fixed-r-list clearfix">
                            <li class="nav-fixed-r-item"><a href=""  class="link">登录</a></li>
                            <li class="nav-fixed-r-item"><a href="" class="link">注册</a></li>
                            <li class="nav-fixed-r-item">
                                <div class="shop-cart-wrap">
                                    <a href="" class="link">
                                        <em class="bg-shop-cart shop-cart"></em>
                                        <em class="bg-badge badge">0</em>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <!-- 登录 -->
    <div class="pd-login">
        <div class="container">
            <div class="pd-login-main">
                <div class="pd-loginformwrap">
                    <div class="pd-login-title">网易帐号登录</div>
                    <div class="pd-login-body">
                        <form id="login-form">
                            <div class="usernamewrap">
                                <div class="user-icon"></div>
                                <div class="user-input">
                                    <input type="text" class="username">
                                    <div class="auto-remember"></div>
                                </div>
                                <i class="pd-login-remove-icon"></i>
                            </div>
                            <div class="pwdwrap">
                                <div class="pwd-icon"></div>
                                <div class="pwd-input">
                                    <input type="password" class="passworld">
                                </div>
                                <i class="pd-login-remove-icon"></i>
                            </div>
                            <div class="c-loginerror">
                                <i class="error-icon"></i>
                                <div class="error-text">请输入账号</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer no-border login-footer footer-hook">
        <div class="footer-floor2">
            <div class="container">
                <div class="f2-main">
                    <ul class="ensure-list clearfix">
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">30天无忧退货</p>
                            </div>
                        </li>
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">满88元免邮费</p>
                            </div>
                        </li>
                        <li class="ensure-item">
                            <div class="con">
                                <em class="bg-normal ensure-icon"></em>
                                <p class="text">网易品质保证</p>
                            </div>
                        </li>
                    </ul>
                    <div class="f2-siteinfo">
                        <ul class="siteinfo-list">
                            <li class="siteinfo-item"
                                v-for="item in footerList"
                            >
                                <a :href="item.link" class="link">{{item.text}}</a>
                            </li>
                        </ul>
                        <p class="copyright">
                            网易公司版权所有 © 1997-2017   食品经营许可证：JY13301080111719
                        </p>
                        <a href="" class="credible">
                            <img src="/img/credible.gif" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="fixedtool">
        <a href="" class="link">
            <em class="fixedtool-newuser"></em>
            <p class="text">新人有礼</p>
        </a>
        <a href="" class="link">
            <em class="bg-phone fixedtool-downapp"></em>
            <p class="text">下载APP</p>
        </a>
        <a href="" class="link">
            <em class="fixedtool-onlinechat"></em>
            <p class="text">在线客服</p>
        </a>
        <a href="" class="link">
            <em class="bg-arrow arrow-up"></em>
            <p class="text">回顶部</p>
        </a>
    </div>

    <script src="../js/commonGetData.js"></script>
    <script src="../js/show.js"></script>
</body>
</html>